
<div class="container">

<div *ngIf="post"  >
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div style=" position:absolute; left:0px;  ">
  <h3 class="spiked-title grey">
   <font  class="sty"> Контактная информация </font>
</h3>
   <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Фамилия И.О: </font> <font  class="sty1">{{ post.name }} </font></p>
   <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Телефон: </font> <font  class="sty1"> + {{ post.phone }} </font></p>

<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Место работы: </font> <font  class="sty1">{{ post.work }} </font></p>
 
 <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font  class="sty"> Должность: </font> <font  class="sty1">{{ post.position }} </font></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Место проживания: </font> <font class="sty1">{{ post.addres }} </font> </p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> E-mail: </font> <font class="sty1">{{ post.mail }} </font></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Вконтакте: </font> <font class="sty1">{{ post.vk }} </font></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Facebook: </font> <font class="sty1">{{ post.facebook }} </font></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Twitter: </font> <font class="sty1">{{ post.twitter }} </font></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Telegram: </font> <font class="sty1">{{ post.telegram }} </font></p>
<p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="sty"> Instagram: </font> <font class="sty1"><a  >{{ post.inst }} </a> </font></p>

<div class="gform_footerl" align="center"> 
<p > <a  (click)="delete(post)" class="knopka" >Удалить</a>
<a  (click)="update(post)" class="knopka" >Редактировать</a> </p>
</div>
</div>
<div style=" top: 0px; position:absolute; left:600px;  ">

  
<div [hidden]="!editBtnClicked" >
  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <h3 class="spiked-title grey1" >
   <font  class="sty"> Форма редактирования </font>
</h3>
      <form #postForm='ngForm'>
        <thead>
        
            <td>
          <p align="left"><font class="sty"> Фамилия И.О.</font><font class="sty1">*</font><font class="sty">:</font></p>
          <input type="text" size="35" class="form-control" id="name" required name="name" maxlength="25"
          placeholder="Фамилия И.О." #name='ngModel' [(ngModel)]='post.name'>
          <div [hidden]='name.valid || name.pristine' class="alert alert-danger"> Это поле обязательно к заполнению </div>
&nbsp;
          <p align="left"><font class="sty"> Телефон</font><font class="sty1">*</font><font class="sty">:</font></p>
          <input type="number" size="35" class="form-control" min="0" maxlength="10" id="shest" required name="phone" 
          placeholder="Телефон" #phone='ngModel' [(ngModel)]='post.phone' onKeyPress="if(this.value.length==15) return false;" />
          <div [hidden]='phone.valid || phone.pristine' class="alert alert-danger"> Это поле обязательно к заполнению </div>
&nbsp;
          <p align="left"><font class="sty"> Место работы</font><font class="sty">:</font></p>
          <input type="text" size="35" class="form-control" id="work"  name="work" maxlength="38"
          placeholder='ООО "PhoneBook "' id="shest" #work='ngModel' [(ngModel)]='post.work'>
&nbsp;
          <p align="left"><font class="sty"> Должность</font><font class="sty">:</font></p>
          <input type="text" size="35" class="form-control" id="position"  name="position" maxlength="38"
          placeholder="Web-программист" #position='ngModel' [(ngModel)]='post.position'>
&nbsp;          
          <p align="left"><font class="sty"> E-mail</font><font class="sty1">*</font><font class="sty">:</font></p>
          <input type="email" size="35" class="form-control" id="mail" required name="mail" maxlength="34"
          placeholder="phonebook@gmail.com" #mail='ngModel' [(ngModel)]='post.mail'>
          <div [hidden]='mail.valid || mail.pristine' class="alert alert-danger"> Это поле обязательно к заполнению </div>

        </td>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td>
          <p align="left"><font class="sty"> Вконтакте</font><font class="sty">:</font></p>
          <input type="text" size="35" class="form-control" id="vk" name="vk" maxlength="38"
          placeholder="https://vk.com/" #vk='ngModel' [(ngModel)]='post.vk'>
&nbsp;
          <p align="left"><font class="sty"> Facebook</font><font class="sty">:</font></p>
          <input type="text" size="35" class="form-control" id="facebook"  name="facebook" maxlength="38"
          placeholder="https://www.facebook.com/" #facebook='ngModel' [(ngModel)]='post.facebook'>
&nbsp;
          <p align="left"><font class="sty"> Twitter</font><font class="sty">:</font></p>
          <input type="text" size="35" class="form-control" id="twitter"  name="twitter" maxlength="38"
          placeholder="https://twitter.com/" #twitter='ngModel' [(ngModel)]='post.twitter'>
&nbsp;
          <p align="left"><font class="sty"> Telegram</font><font class="sty">:</font></p>
          <input type="text" size="35" class="form-control" id="telegram"  name="telegram" maxlength="38"
          placeholder="https://telegram.org/" #telegram='ngModel' [(ngModel)]='post.telegram'>
&nbsp;          
          <p align="left"><font class="sty"> Instagram</font><font class="sty">:</font></p>
          <input type="text" size="35" class="form-control" id="inst"  name="inst" maxlength="38"
          placeholder="https://www.instagram.com/" #inst='ngModel' [(ngModel)]='post.inst'>
        </td>
  
        </thead>
        &nbsp;
           <thead>
          <p align="left"><font class="sty"> Адрес фактического проживания</font><font class="sty1">*</font><font class="sty">:</font></p>
          <input type="text" size="57" class="form-control" id="addres" required name="addres" maxlength="38"
          placeholder="Пример: Россия, г. Москва ул. Строителей д.3/2 кв.31" #addres='ngModel' [(ngModel)]='post.addres'>

          <div [hidden]='addres.valid || addres.pristine' class="alert alert-danger"> Это поле обязательно к заполнению </div>
            </thead>
            <div class="gform_footerl2" align="center"> 
        <button  (click)="update(post); onUpdatedClicked()" class="knopka" [disabled]="!postForm.form.valid">Сохранить</button>

<button  (click)="offupdate(post)" class="knopka" >Скрыть форму</button>

</div>
  </form>

</div>
  </div>

</div>
  </div>
