    <div class="container" align="center">
  <form (ngSubmit)="createPost(post); postForm.reset()" #postForm='ngForm' >
      <br/>   
       <font  class="sty"> Добавление контакта </font>
<div class="gform_footerl2" align="center">
 
  </div>
        <thead>
        
            <td>
          <p align="left"><font class="sty"> Фамилия И.О.</font><font class="sty1">*</font><font class="sty">:</font></p>

          <input type="text" size="50" class="form-control" id="name" required name="name" maxlength="25"
          placeholder="Фамилия И.О." #name='ngModel' [(ngModel)]='post.name'>
          <div [hidden]='name.valid || name.pristine' class="alert alert-danger"> Это поле обязательно к заполнению </div>
&nbsp;
          <p align="left"><font class="sty"> Телефон</font><font class="sty1">*</font><font class="sty">:</font></p>
          <input type="number" size="50" class="form-control" min="0" id="shest" required name="phone" 
          placeholder="Телефон" #phone='ngModel' [(ngModel)]='post.phone' onKeyPress="if(this.value.length==15) return false;" />
          <div [hidden]='phone.valid || phone.pristine' class="alert alert-danger"> Это поле обязательно к заполнению </div>
&nbsp;
          <p align="left"><font class="sty"> Место работы</font><font class="sty">:</font></p>
          <input type="text" size="50" class="form-control" id="work"  name="work" maxlength="38"
          placeholder='ООО "PhoneBook "' id="shest" #work='ngModel' [(ngModel)]='post.work'>
&nbsp;
          <p align="left"><font class="sty"> Должность</font><font class="sty">:</font></p>
          <input type="text" size="50" class="form-control" id="position"  name="position" maxlength="38"
          placeholder="Web-программист" #position='ngModel' [(ngModel)]='post.position'>
&nbsp;          
          <p align="left"><font class="sty"> E-mail</font><font class="sty1">*</font><font class="sty">:</font></p>
          <input type="email" size="50" class="form-control" id="mail" required name="mail" maxlength="34"
          placeholder="phonebook@gmail.com" #mail='ngModel' [(ngModel)]='post.mail'>
          <div [hidden]='mail.valid || mail.pristine' class="alert alert-danger"> Это поле обязательно к заполнению </div>

        </td>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <td>
          <p align="left"><font class="sty"> Вконтакте</font><font class="sty">:</font></p>
          <input type="text" size="50" class="form-control" id="vk" name="vk" maxlength="38"
          placeholder="https://vk.com/" #vk='ngModel' [(ngModel)]='post.vk'>
&nbsp;
          <p align="left"><font class="sty"> Facebook</font><font class="sty">:</font></p>
          <input type="text" size="50" class="form-control" id="facebook"  name="facebook" maxlength="38"
          placeholder="https://www.facebook.com/" #facebook='ngModel' [(ngModel)]='post.facebook'>
&nbsp;
          <p align="left"><font class="sty"> Twitter</font><font class="sty">:</font></p>
          <input type="text" size="50" class="form-control" id="twitter"  name="twitter" maxlength="38"
          placeholder="https://twitter.com/" #twitter='ngModel' [(ngModel)]='post.twitter'>
&nbsp;
          <p align="left"><font class="sty"> Telegram</font><font class="sty">:</font></p>
          <input type="text" size="50" class="form-control" id="telegram"  name="telegram" maxlength="38"
          placeholder="https://telegram.org/" #telegram='ngModel' [(ngModel)]='post.telegram'>
&nbsp;          
          <p align="left"><font class="sty"> Instagram</font><font class="sty">:</font></p>
          <input type="text" size="50" class="form-control" id="inst"  name="inst" maxlength="38"
          placeholder="https://www.instagram.com/" #inst='ngModel' [(ngModel)]='post.inst'>
        </td>
  
        </thead>
        &nbsp;
           <thead>
          <p align="left"><font class="sty"> Адрес фактического проживания</font><font class="sty1">*</font><font class="sty">:</font></p>
          <input type="text" size="107" class="form-control" id="addres" required name="addres" maxlength="38"
          placeholder="Пример: Россия, г. Москва ул. Строителей д.3/2 кв.31" #addres='ngModel' [(ngModel)]='post.addres'>

          <div [hidden]='addres.valid || addres.pristine' class="alert alert-danger"> Это поле обязательно к заполнению </div>
            </thead>
<div class="gform_footerl2" align="center"> 
<button  class="knopka"  [disabled]="!postForm.form.valid " [hidden]="submitted"> Добавить контакт </button> </div>

      <div [hidden]="!submitted"  class="alert alert-success" role="alert"><font class="sty4">Ваш контакт успешно создан.</font> <a class="alert-link" routerLink="/contacts"><font class="sty5">Посмотреть все контакты</font></a>
    </div>
  </form>
   </div>