.post-list{
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px;
}
#shest { 
  -moz-appearance: textfield;
}
#shest::-webkit-inner-spin-button { 
  display: none;
}
.sty{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.sty1{
	color: #c28546;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.spiked-title {
    position: relative;
    text-transform: uppercase;
    width: 163%;
    max-width: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em 1em;
    overflow: visible;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 1em;
}
.spiked-title.grey{
    background-color: #1d3035;
    color: #fff;
 
}
.spiked-title.grey:after {
       content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -45px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 42px solid transparent;
        border-left: 45px solid #1d3035;
    }
   
   .spiked-title.grey1{
    background-color: #1d3035;
    color: #fff;
}
.spiked-title.grey1:after {
       content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -45px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 42px solid transparent;
        border-left: 45px solid #1d3035;
    }
   
a.knopka {
  color: #fff; /* цвет текста */
  	font-weight: bold;
	text-transform: uppercase;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #1d3035;
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  cursor: pointer
} 
a.knopka:hover { background: #4a7b87; cursor: pointer; color: #fff; 	font-weight: bold;
	text-transform: uppercase;} /* при наведении курсора мышки */
a.knopka:active { background: rgba(255, 255, 255, 0.3); cursor: pointer; color: #fff; 	font-weight: bold;
	text-transform: uppercase;} /* при нажатии */

	button.knopka {
  color: #fff; /* цвет текста */
  	font-weight: bold;
	text-transform: uppercase;
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #1d3035;
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  cursor: pointer;
  border: 0px;

} 
button.knopka:hover { background: #4a7b87; cursor: pointer; color: #fff; 	font-weight: bold;
	text-transform: uppercase;} /* при наведении курсора мышки */
button.knopka:active { background: rgba(255, 255, 255, 0.3); cursor: pointer; color: #fff; 	font-weight: bold;
	text-transform: uppercase;} /* при нажатии */
  input{
      font-size: 16px;
      font-weight: bold;
  text-transform: uppercase;
  } 
button.knopka:disabled { background: #c28546; cursor: not-allowed; color: #fff;  font-weight: bold;
  text-transform: uppercase;} 
   textarea {
  font-size: 16px;
      font-weight: bold;
  text-transform: uppercase;
    width: 99%; /* Ширина поля в процентах */
    height: 100px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
   } 
      hr {

    border: none; /* Убираем границу */
    background-color: #fff; /* Цвет линии */
    color: #fff; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }


   .card-block{
   
    background-color: #858585;
    color: #fff;
cursor: pointer;
}

.card-block:hover { background: #4a7b87; cursor: pointer; color: #fff; 	font-weight: bold;
	text-transform: uppercase;} /* при наведении курсора мышки */


.sty3{
  color: #c28546;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
.sty2{
  color: #fff;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
}
.sty4{
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.sty5{
  cursor: pointer;
  color: #c28546;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.gform_footerl {
	max-width: 600px; 
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 1.2);
    padding-top: 2em;
    margin-top: 2em;
   position: fixed;
}

.gform_footerl2 {
	max-width: 565px; 
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 1.2);
    padding-top: 2em;
    margin-top: 2em;

}
.gform_footerl2 {
	max-width: 1000px; 
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 1.2);
    padding-top: 2em;
    margin-top: 2em;

}
div.valid{
	color:red;
}