    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="container" >

      <input class="form-control mr-sm-2" placeholder="search..." type="text" [(ngModel)]="search" />

    </div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<div class="ui grid container">
  <div class="four wide column" *ngFor="let post of posts | filter:search"> 
    <a (click)="goToShow(post)">
      <div class="card-block" >
        <h3 class="card-title" align="center">
       <font class="sty"> {{post.name}} </font>
      </h3>
      <hr/>
        <p>
          <small> <font class="sty2"> Последнее обновление: </font> <font class="sty3">{{post.updated_at | date:'medium'}} </font></small>
        </p>
        <p card-text> <font class="sty2">Телефон: <font class="sty3">+
          {{post.phone}}</font> </font>
        </p>
          <p card-text> <font class="sty2"> E-mail: <font class="sty3">
          {{post.mail}} </font></font>
        </p>
      </div>
    </a>
  </div>
</div>
<div>

